*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(135deg, #0b1e3b 0%, #3b82f6 100%);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    
}
.container::before{
    content: '';
    width: 100px;
    height: 100px;
    background: linear-gradient(135deg, #10b981 0%, #06b6d4 100%);
    border-radius: 10px;
    position: relative;
    left: 50px;
    top: -90px;
    z-index: 1;
}
.container::after{
    content: '';
    width: 100px;
    height: 100px;
    background: linear-gradient(135deg, #06b6d4 0%, #60a5fa 100%);
    border-radius: 50%;
    position: relative;
    right: 40px;
    bottom: -90px;
    z-index: 1;
}
.clock-container{
    width: 600px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #7c3aed 0%, #ec4899 100%);
}
.clock{
    display: flex;
    gap: 30px;
    font-size: 30px;
}
.clock .hour,.min,.sec{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
    gap: 10px;
}
#hour::after, #min::after{
    content: " :";
    position: relative;
    left: 15px;
}